@import "../../config.scss";


.home {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding: 0 columns();
}


.welcome {
  margin: 0 columnsOffset();
  min-height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__heading {
    font-size: $xxg;
    font-weight: bold;
    color: $turq-light;
  }

  &__img {
    max-width: auto;
    height: 40vh;
    align-self: flex-start;
  }
}