@import "../../config.scss";


.home {
  display: flex;
  flex-direction: column;

  height: 100vh;
  background-color: $midnight;


  &__content {
    display: flex;
    justify-content: space-between;

    padding: 0 columns();
    height: 100%;
  }
}


.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;


  &__heading {
    font-size: $xxg;
    font-weight: bold;
    color: $turq-light;
    line-height: 1;
  }

  
  &__text {
    font-size: $h;
    font-weight: normal;
    color: $white;
  }

  
  &__img {
    align-self: flex-start;
    margin-left: 3rem;

    max-width: auto;
    height: 20vh;

    position: relative;
    top: 0;
    transition: top 600ms ease-out;

    &:hover {
      top: 2rem;
    }
  }
}


.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;


  &__or {
    color: $white;
    font-size: $m;
    font-weight: bold;
    margin: 1.5rem 0;
  }
}


.login-form {
  width: 70%;
}


.signup-form {
  height: 90vh;
  width: 40vw;

  padding: 2rem 3rem 1rem 3rem;
}
