@import "../../config.scss";


.home {
  display: flex;
  flex-direction: column;

  height: 100vh;
  overflow-y: hidden;
}


.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  background-color: $yellow;

  
  &__heading {
    font-size: $xxg;
    font-weight: bold;
    color: $black;
    line-height: 1;
    text-align: center;
  }

  
  &__text {
    font-size: $h;
    font-weight: normal;
    color: $black;
    text-align: center;
  }

  
  &__img {
    align-self: center;

    max-width: auto;
    height: 20vh;

    position: relative;
    transition: top 600ms ease-out;
    top: 0;

    animation: slide-up 3000ms ease-out;

    &:hover {
      top: 2rem;
    }
  }
}


.login-form {
  @include autofill-style(false);

  width: 40vw;
  padding: 2rem 3rem 1rem 3rem;
}


.signup-form {
  @include autofill-style(false);

  height: 90vh;
  width: 40vw;

  padding: 2rem 3rem 1rem 3rem;
}


@keyframes slide-up {
  0% {
    transform: translateY(12rem);
  }
  10% {
    transform: translateY(12rem);
  }
  40% {
    transform: translateY(2rem);
  }
  80% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}
