@import "../../../config.scss";


.tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100vh;
  padding: 0 columns(0);
  background-color: $white;


  &__fullscreen {
    width: 24px;
    height: 24px;
    transition: width 200ms ease, height 200ms ease;
    
    &:hover {
      width: 28px;
      height: 28px;
    }

    &-container {
      width: 28px;
      height: 28px;
    }
  }


  &__company {
    text-align: left;

    padding: 2rem 0;
    width: 100%;

    &__name {
      font-weight: normal;
      font-size: $xh;
    }

    &__branch {
      font-weight: normal;
      font-size: $l;
    }
  }
}


.fullscreen-enabled .tickets__company {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
