@import "../../config.scss";


.button {
  display: flex;
  align-items: center;

  font-size: $l;
  font-weight: bold;
  
  position: relative; 
  bottom: 0;

  padding: 0.5rem 1rem;
  border: 3px solid transparent;
  transition: bottom 200ms ease;


  &:hover {
    bottom: 3px;
  } 


  &--blue {
    border-color: $classic-blue;
    color: $classic-blue;

    &--fill {
      background-color: $classic-blue;
      color: $white;
    }
  }


  &--red {
    border-color: $red;
    color: $red;

    &--fill {
      background-color: $red;
      color: $white;
    }
  }


  &--black {
    border-color: $black;

    &--fill {
      background-color: $black;
      color: $white
    }
  }
  
  
  &__loading {
    @include spin(2000ms);

    fill: $white;
    width: 20px;
    height: 20px;
  }
}
