@import "../../config.scss";


.button-text {
  margin: 0 0.5rem;
  padding: 2px 14px 2px 2px;

  cursor: pointer;
  border: none;
  transition: background-position 200ms ease;


  &--black {
    background: linear-gradient(to right, $black 50%, transparent 0%);
    background-size: 200% 50%;
    background-position: right bottom;
    background-repeat: no-repeat;

    &:hover {
      background-position: left bottom;
  
      & .button-text__content {
        color: $snow-blue;
      }

      & .button-text__icon {
        fill: $snow-blue;
      }
    }
  }


  &--blue {
    @include highlight(50%);

    &:hover {
      background-position: left bottom;
  
      & .button-text__content {
        color: $classic-blue;
      }

      & .button-text__icon {
        fill: $classic-blue;
      }
    }
  }


  &__content {
    display: flex;
    align-items: center;

    font-size: $l;
    font-weight: bold;
    transition: color 200ms ease-out;
  }


  &__icon {
    height: 20px;
    width: 20px;
    margin: 4px 0.5rem 4px 0;
  }
}
