@import "../../config.scss";


.multi-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  &--dark {
    background-color: $midnight;
  }


  &--light {
    background-color: $white;
  }


  &__buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}
