@import "../../config.scss";


.form {
  display: flex;
  flex-direction: column;
  align-items: center;


  &__button {
    margin-top: 2rem;
  }

  
  &__title {
    color: $white;
    margin-bottom: 1rem;
  }
}
