@import "../../config.scss";


.form {
  display: flex;
  flex-direction: column;
  align-items: center;


  &__button {
    margin-top: 1rem;
  }

  
  &__title {
    font-size: $h;
    color: $black;
    margin-bottom: 2rem;
  }


  &__logo {
    height: 40px;
    margin-bottom: 1rem;
  }
}
