@import "../../../config.scss";


.dashboard {
  position: relative;
  height: 100%;
  width: 100%;


  &__textbox {
    position: absolute;
    width: 33%;

    top: 5rem;
    bottom: 0;
    right: 0;

    background-color: $snow-blue;
    overflow: visible;
  }


  &__mascot {
    position: absolute;

    top: 25%;
    left:0;
    height: 50%;
    z-index: 0;

    transform: translateX(-15rem);
    animation: mascot-side-animation 4000ms ease;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
  }


  &__date {
    @include highlight(14%, $aqua-blue);
    background-position: left bottom;

    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    
    position: absolute;
    top: 15%;
    right: 0%;
    padding-right: 33%;


    & span:first-child {
      font-size: $xg;
      font-weight: bold;
      color: $classic-blue;
      margin-right: 1rem;
    }

    & span:last-child {
      font-size: $xh;
      font-weight: bold;
      color: $classic-blue;
    }
  }

  
  &__greeting {
    position: absolute;
    bottom: 25%;
    right: 33%;

    font-size: $xh;
    font-weight: bold;
    font-style: italic;
    white-space: nowrap;
    text-align: right;
    color: $aqua-blue;
  }
  

  &__bottom-border {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;

    background-color: $classic-blue;
    height: 0.4rem;
    width: 70%;
  }


  &__right-border {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;

    background-color: $classic-blue;
    width: 0.4rem;
    height: calc((100% - 6.5rem) / 3);
  }
}


/* Animation */

@keyframes mascot-side-animation {
  0% {
    transform: translateX(-15rem);
  }
  40% {
    transform: translateX(-3rem);
  }
  60% {
    transform: translateX(-3rem);
  }
  100% {
    transform: translateX(0);
  }
}
