@import "../../config.scss";


.button-fancy {
  position: relative;

  width: 8rem;
  height: 3rem;


  &__button {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    font-size: $xl;
    font-weight: bold;

    &--black {
      background-color: $black;
      color: $white;
    }

    &--white {
      background-color: $white;
      color: $black
    } 
  }

  
  &:hover {
    .button-fancy__background {
      &--top {
        bottom: 0;
        left: 0;
      }

      &--bottom {
        top: 0;
        right: 0;
      }
    }
  }


  &__background {
    width: 100%;
    height: 100%;

    position: absolute;
    transition: top 300ms ease, right 300ms ease, left 300ms ease, bottom 300ms ease;

    &--top {
      bottom: 6px;
      left: 6px;
    }

    &--bottom {
      top: 6px;
      right: 6px;
    }
  
    &--black {
      background-color: $white;
    }

    &--white {
      background-color: $black;
    }
  }

  
  &__loading {
    @include spin();

    fill: $white;
    width: 20px;
    height: 20px;
  }
}
