@import "../../config.scss";


.button-fancy {
  position: relative;

  width: 8rem;
  height: 3rem;


  &__button {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    font-size: $xl;
    font-weight: bold;

    border: none;
    outline: none;
    cursor: pointer;

    &--blue {
      background-color: $blue-dark;
      color: $white;
    }

    &--turq {
      background-color: $turq-light;
      color: $black
    } 
  }

  
  &:hover {
    .button-fancy__background {
      &--top {
        bottom: 0;
        left: 0;
      }

      &--bottom {
        top: 0;
        right: 0;
      }
    }
  }


  &__background {
    width: 100%;
    height: 100%;

    position: absolute;
    transition: top 300ms ease-out, right 300ms ease-out, left 300ms ease-out, bottom 300ms ease-out;

    &--top {
      bottom: 6px;
      left: 6px;
    }

    &--bottom {
      top: 6px;
      right: 6px;
    }
  
    &--blue {
      background-color: $blue-light;
    }

    &--turq {
      background-color: $turq-dark;
    }
  }
}
