@import "../../config.scss";


.field {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 1.5rem;

  
  &:focus-within {
    .field__label {
      color: $red;
    }

    .field__input {
      border-color: $red;
    }
  }


  &__label {
    font-weight: 500;
    font-size: $s;
    transition: color 200ms ease-out;
    color: $black;
  }


  &__input {
    border: none;
    border-bottom: 2px solid;
    outline: none;

    background-color: transparent;
    transition: border-color 200ms ease-out;

    color: $black;
    border-color: $black;

    font-size: $m;
    line-height: 2rem;

    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
  }


  &__error {
    color: $red;
    font-weight: normal;
    font-size: $xs;
  }
}
