@import "../../config.scss";


.field {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 1.5rem;


  &--dark {
    @include autofill-style(false);

    & .field__label {
      color: $white;
    }

    & .field__input {
      color: $white;
      border-color: $white;
    }

    &:focus-within {
      .field__label {
        color: $turq-dark;
      }
  
      .field__input {
        border-color: $turq-dark;
      }
    }
  }


  
  &--light {
    @include autofill-style(true);

    & .field__label {
      color: $black;
    }

    & .field__input {
      color: $black;
      border-color: $black;
    }

    &:focus-within {
      .field__label {
        color: $blue-dark;
      }
  
      .field__input {
        border-color: $blue-dark;
      }
    }
  }


  &__label {
    font-weight: 500;
    font-size: $s;
    transition: color 200ms ease-out;
  }


  &__input {
    border: none;
    border-bottom: 2px solid;
    outline: none;

    background-color: transparent;
    transition: border-color 200ms ease-out;

    font-size: $m;
    line-height: 2rem;

    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
  }


  &__error {
    color: $coral;
    font-weight: normal;
    font-size: $xs;
  }
}
