@import "../../config.scss";


.header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  background-color: $white;
  padding-right: 1rem;

  
  &__logo {
    max-width: auto;
    height: 50px;
  }


  &__actions {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
}

