@import "../../config.scss";


.header {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  background-color: $yellow;
  
  
  &__logo {
    max-width: auto;
    height: 30px;
  }


  &__home {
    margin: 1rem;
    margin-right: 2rem;
  }
}
