@import "../../config.scss";


.navbar {
  display: flex;
  flex-direction: column;

  list-style: none;
  background-color: $white;
  box-shadow: 2px 0 15px 0 rgba(0,0,0,0.05);

  height: 100%;
  width: 150px;

  padding: 0.5rem 0;

  overflow-y: auto;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
  
  & li:last-child {
    margin-top: auto;
  }
}


.navbar__tab {
  display: flex;
  align-items: center;

  padding: 0.5rem 2rem 0.5rem 1rem;
  margin: 0.5rem 0;

  text-decoration: none;
  cursor: pointer;

  border-left: 3px solid transparent;
  transition: border-color 300ms ease;

  
  &:hover {
    border-color: $aqua-blue;

    & .navbar__tab__title {
      color: $classic-blue;    
      background-position: left bottom;
    }

    & svg {
      fill: $classic-blue;
    }
  }


  &__title {
    @include highlight(60%);

    font-size: $xs;
    font-weight: 500;

    padding-right: 0.5rem;
    padding-left: 2px;
    margin-left: 0.5rem;

    transition: background-position 300ms ease, color 200ms ease;
  }


  & svg {
    width: 16px;
    height: 16px;
  
    transition: fill 200ms ease;
  }


  &--selected {
    color: $classic-blue;
    border-color: $aqua-blue;

    & svg {
      fill: $classic-blue;
    }

    & .navbar__tab__title {
      color: $classic-blue;    
    }
  }
}
