@import "../../config.scss";


.textbox {
  display: flex;
  position: relative;


  &__title {
    font-size: $l;
    font-weight: 500;
    
    position: absolute;
    top: 0.4rem;
    left: 0.8rem;
  }


  &__text {
    font-size: $g;
    font-weight: bold;
    margin: auto;
  }


  &__subtext {
    font-size: $m;
    font-weight: 500;

    position: absolute;
    right: 0.8rem;
    bottom: 0.4rem;
  }
}
