@import "../../config.scss";


.portal {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $snow-white;

  &__body {
    display: flex;
    flex: 1;
  }
}


.portal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  height: fit-content;
  padding: 0.5rem calc(1rem + 3px);

  background-color: $white;
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.05);
  z-index: 2;


  &-logo {
    width: 12px;
  }


  &-company {
    display: flex;
    justify-content: center;
    align-items: baseline;

    position: absolute;
    right: 20vw;
    left: 20vw;

    &Name {
      font-weight: 500;
      font-size: $m;
      margin-right: 0.5rem;
    }

    &Branch {
      font-weight: 500;
      font-size: $xs;
    }
  }
}
