/* Important sizes */

$max-width: 1200px;
$gutter: 20px;
$offset: 40px;
$num-col: 12;


/* Colors */

$classic-blue: #3200FF;
$aqua-blue: #A5B6FE;
$sky-blue: #C5D2FF;
$snow-blue: #D5DBFF;

$red: #FF1F58;
$black: #010527;
$grey: #FAFAFA;
$white: #ffffff;


/* Fonts */

$font-main: Montserrat, Helvetica, Arial, sans-serif;


/* Font sizes */

$xs: 12px;
$s: 14px;
$m: 16px;
$l: 18px;
$xl: 21px;
$h: 24px;
$xh: 36px;
$g: 48px;
$xg: 60px;
$xxg: 90px;


/* Animations */

@keyframes spin-animation {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}


/* Functions */

@function columns($col: 1) {
  @return calc(#{$col} * ((100% - 2*#{$offset} - (#{$num-col} - 1)*#{$gutter}) / #{$num-col} + #{$gutter}) + #{$offset});
}


/* Mixins */

@mixin autofill-style($grey) {
  @if $grey {
    & input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: $black;
      box-shadow: 0 0 0 30px $grey inset !important;
    }
  } @else {
    & input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
        -webkit-text-fill-color: $black;
        box-shadow: 0 0 0 30px $white inset !important;
      }
  }
}

@mixin spin() {
  animation: spin-animation 2000ms linear;
  animation-iteration-count: infinite;
}

@mixin highlight($height) {
  /* The highlight will appear with: background-position: left bottom;
     This can be used e.g on hover. */
     
  background: linear-gradient(to right, $snow-blue 50%, transparent 0%);
  background-size: 200% $height;
  background-position: right bottom;
  background-repeat: no-repeat;
}
