/* Important sizes */

$max-width: 1200px;
$gutter: 20px;
$offset: 40px;
$num-col: 12;


/* Colors */

$yellow: #F2E63C;
$red: #F23C57;

$black: #000000;
$grey: #F1F3F2;
$white: #ffffff;


/* Fonts */

$font-main: Montserrat, Helvetica, Arial, sans-serif;


/* Font sizes */

$xs: 12px;
$s: 14px;
$m: 16px;
$l: 18px;
$xl: 21px;
$h: 24px;
$xh: 36px;
$g: 48px;
$xg: 60px;
$xxg: 90px;


/* Functions */

@function columns($col: 1) {
  @return calc(#{$col} * ((100% - 2*#{$offset} - (#{$num-col} - 1)*#{$gutter}) / #{$num-col} + #{$gutter}) + #{$offset});
}


/* Mixins */

@mixin autofill-style($yellow) {
  @if $yellow {
    & input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: $black;
      box-shadow: 0 0 0 30px #F2E63C inset !important;
    }
  } @else {
    & input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
        -webkit-text-fill-color: $black;
        box-shadow: 0 0 0 30px $white inset !important;
      }
  }
}
